{%extends 'products/base.html'%}
{%load static humanize %}
{%block css%}
<link href="{% static 'vendor/css/profile.css'%}" rel="stylesheet">
{%endblock%}

{%block content%}
<div class="container col-lg-4 align-items-center"  >
{% if baskets %}
<h4 class="mt-3 mb-3 d-flex  mb-3">
    Корзина   
    <span class="badge badge-secondary badge-pill">{{baskets.total_quantity}}</span>
    <a href="{% url 'products:basket_remove_all'%}">
        <i class="fas fa-trash"></i>
    </a>
</h4>
{% for basket in baskets %}
<div class="card mb-3" style="background-color: hsla(0, 0%, 100%,0.2)">
    <div class="card-body">
        <h5 class="card-title">{{ basket.product.name}}</h5>
        <p class="card-text">{{ basket.product.description}}</p>
    </div>
    <ul class="list-group list-group-flush" style="background-color: hsla(0, 0%, 100%,0.2)">
        <li class="list-group-item " style="background-color: hsla(0, 0%, 100%,0.0)">
            <div class="row text-center" style="background-color: hsla(0, 0%, 100%,0.0)">
                <div class="col-lg-4">
                    <input name="basketID" type="number" class="form-control"
                            value="{{ basket.quantity}}" min="0">
                </div>
                <a class="btn btn-success btn-lg float-right" href="../orders/order-create.html">
                    добавить
                </a>
                <div class="col-lg-4">{{ basket.sum| intcomma}} руб.</div>
                <div class="col-lg-4">
                    <a href="{% url 'products:basket_remove' basket.id %}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
{%endfor%}
<div class="card mb-3">
    <div class="card-footer">
        <p class="float-left">Итого</p>
        <h4 class="float-right"> {{baskets.total_sum|intcomma}}руб.</h4>
    </div>
</div>
<a class="btn btn-success btn-lg float-right" href="{% url 'orders:order_create'%}">
    Оформить заказ
</a>
<a class="btn btn-success btn-lg float-right" href="{% url 'products:basket_remove_all'%}">
    удалить все
</a>
{%else%}
<div class="card mb-3 align-items-center" style="background-color: hsla(0, 0%, 100%,0.0); border:  rgba(211, 220, 50, .0);">
<h4 class="mt-4 mb-4 ">
    Корзина пуста <span class="badge badge-secondary badge-pill"></span>
</h4>
<div class="col-lg-4 text-center">
<a class="btn btn-default btn-lg" style="background-color: hsla(0, 0%, 100%,0.0); border:  rgba(211, 220, 50, .0);" href="{% url 'products:index' %}">
    начать покупки
</a>
</div>
</div>
{%endif%}
</div>
{%endblock%}
