{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link href="static/vendor/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
       <!-- <div class="alert alert-light text-center" role="alert">-->
    <!--        Информационное сообщение-->
    <!--    </div> -->
    <div class="container" style="margin-top:10%;">
        <div class="row">
            <div class="col-lg-6" style="margin:0 25% 0 25%;
            width:50%;color: #ffffff;">
                <h1 class="mt-5" style="margin:0 25% 0 25%;
                width:50%">Flowers Store</h1>
                <p style="font-size:25px;">
                    Новые образы и лучшие бренды на Store.
                    Бесплатная доставка по всему миру!
                    {% if is_promotion %}
                    Аутлет: до -70% Собственный бренд. -20% новым покупателям.
                    {% endif %}
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg" style="margin:0 25% 0 25%;
                width:50%; background-color: hsla(194, 25%, 61%, 0.5)" >
                    <a id="start-purchase-link" href="{% url 'products:index' %}"> 
                        Начать покупки
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
